__pycache__

# Compiled binary and object files

bin/
builds/temp/
builds/visual_studio/*/temp/
builds/visual_studio/*/x64/

*.dll
*.exe
*.lib
*.obj

# Visual Studio files

.vs/
.vscode/

*.suo
*.user
*.sln.docstates
*.vcxproj.user

# Vim

*.swp
*.swo

